.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 10%;
}

/* Header */
.collection__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__header-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}

.collection__header-title span {
  width: 100%;
  margin: 20px 0 10px;
  border-bottom: 2px solid #000;
  opacity: 0.1;
}

.collection__header-title h2 {
  position: absolute;
  padding:0 30px;
  font-family: 'Didot', serif;
  text-transform: uppercase;
  font-size: var(--section-title);
  letter-spacing: 2px;
  text-align: center;
  background:#fff;

}

.collection__header-description {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  width: 620px;
  font-family: 'Poppins', sans-serif;
  font-size: var(--section-content);
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

/* Card Container */
.collection__cards {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.collection__cards-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 20px 50px;
  width: 30%;
  height: 500px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 5px 0px 30px -8px rgba(0,0,0,0.15);
  -webkit-box-shadow: 5px 0px 30px -8px rgba(0,0,0,0.15);
  -moz-box-shadow: 5px 0px 30px -8px rgba(0,0,0,0.15);
}
.collection__cards-item-img {
  width: 70%;
}