/* Imports */

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Didot';
  src: url('../assets/fonts/didot/Didot.ttc') format('truetype');
}
@font-face {
  font-family: 'Blesing';
  src: url('../assets/fonts/Blesing.otf') format('opentype');
}


/* General Styles */
:root {
  /* Screen Breakpoints */
  --desktop-big: 1920px;
  --desktop-medium: 1366px;
  --desktop-small: 1024px;
  --tablet: 768px;

  /* Sizes */
  --text-menu: 17px;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  align-items: center;
  padding: 20px 10%;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: var(--text-menu);
  letter-spacing: 2px;
}
.header__login {
  display: flex;
  gap: 10px;
}
.header__login img {
  width: 18px;
}

.header__navbar ul {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.header__navbar ul li {
  display: inherit;
  align-items: center;
  gap: 10px;
}
.header__navbar-logo {
  width: 80px;
  margin: 0 40px;
}
.header__navbar-diamond {
  display: none;
}

.header__search {
  display: flex;
  justify-content: flex-end;
}
.header__search-lang {
  display: inherit;
  gap: 10px;
}
.header__search-lang img {
  width: 17px;
}
.header__search-icon {
  margin-left: 20px;
  width: 25px;
}


/* Responsive */

/* Desktop */
@media only screen and (max-width: 1366px) {
  .header {
    padding: 20px 5%;
  }
}
@media only screen and (max-width: 1280px) {
  .header__navbar ul {
    gap: 50px;
  }
  .header__navbar-logo {
    margin: 0 20px;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .header {
    padding: 20px 10px;
  }
  .header__navbar ul {
    gap: 30px;
  }
  .header__navbar-logo {
    margin: 0 10px;
  }
}

/* Mobile */