/* Imports */

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Didot';
  src: url('../assets/fonts/didot/Didot.ttc') format('truetype');
}
@font-face {
  font-family: 'Blesing';
  src: url('../assets/fonts/Blesing.otf') format('opentype');
}


/* General Styles */
:root {
  /* Sizes */
  --text-menu: 17px;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  font-family: 'Poppins';
  font-weight: 500;
  letter-spacing: 2px;
}
.header__login {
  display: flex;
  gap: 10px;
  font-size: var(--text-menu);
}
.header__login img {
  width: 18px;
}
.header__navbar ul {
  display: flex;
  gap: 70px;
  font-size: var(--text-menu);
}
.header__navbar ul li {
  display: inherit;
  flex-direction: column;
  gap: 10px;
}
.header__navbar-opt {
  padding-top: 13px;
}
.header__navbar-logo {
  width: 80px;
  margin: 0 40px;
}
/* .header__navbar ul li img {
  fill: #bc9143;
  stroke: #bc9143;
  filter: invert(56%) sepia(49%) saturate(488%) hue-rotate(0deg) brightness(96%) contrast(90%);
} */

.header__search {
  display: flex;
  font-size: var(--text-menu);
}
.header__search-lang {
  display: inherit;
  gap: 10px;
}
.header__search-lang img {
  width: 17px;
}
.header__search-icon {
  margin-left: 20px;
  width: 25px;
}
